.bookmark-add-bookmark {		
  color: #636363;
  width: 350px;
  margin: 0 auto 0;
}
.bookmark-add-bookmark .bookmark-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
.bookmark-add-bookmark .bookmark-header {
  border-bottom: none;   
      position: relative;
      justify-content: center;
}
.bookmark-add-bookmark h4 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 30px;
}
.bookmark-add-bookmark .form-control:focus {
  border-color: #70c5c0;
}
.bookmark-add-bookmark .form-control, .bookmark-add-bookmark .btn {
  min-height: 40px;
  border-radius: 3px; 
}
.bookmark-add-bookmark .close {
      position: absolute;
  top: -5px;
  right: -5px;
}	
.bookmark-add-bookmark .bookmark-footer {
  background: #ecf0f1;
  border-color: #dee4e7;
  text-align: center;
      justify-content: center;
  margin: 0 -20px -20px;
  border-radius: 5px;
  font-size: 13px;
}
.bookmark-add-bookmark .bookmark-footer a {
  color: #999;
}		
.bookmark-add-bookmark .avatar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: white;
  /* background: #60c7c1; */
  padding: 0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
  .bookmark-add-bookmark .btn {
      color: #fff;
      border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
      line-height: normal;
      border: none;
  }
.bookmark-add-bookmark .btn:hover, .bookmark-add-bookmark .btn:focus {
  background: #45aba6;
  outline: none;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}